[2018-07-17 01:55] thomashoneyman opened #4 "Cannot send queries through Formless if there are multiple child component types"
## Current behavior

Formless only supports sending queries down to child components so long as it only has a single child component type. It doesn't support child paths at all, so if you have multiple types of child components mounted in Formless (a common use case), they aren't accessible to the parent.

This is especially bad when you need to support resetting a form, because there is no way to

[2018-07-17 03:13] thomashoneyman commented on #4
Fixed in https://github.com/thomashoneyman/purescript-halogen-formless/pull/5

[2018-07-17 03:13] #4 closed, assigned to thomashoneyman

[2018-07-30 07:35] Unisay opened #11 "Form validation glitch"
## Environment

https://thomashoneyman.github.io/purescript-halogen-formless/#polyform

## Current behavior

Email validation is inconsistent: result changes drastically when editing name field.

![validation glitch](https://user-images.githubusercontent.com/1009751/43383566-b1ebd934-93db-11e8-8361-e56b3819a725.gif)

## Expected behavior
Email field validation doesn't depend on "Name"

[2018-07-30 21:00] thomashoneyman commented on #11
Hi Yuriy!

This is a known issue, but perhaps not for the same reason you've mentioned here. The email field's validation does not depend on any other fields, but its validation is being run when any other field is modified. Since its validation is non-deterministic -- it's simply to flip a coin to see if the email is being used or not -- you're seeing the result of validation potentially change e

[2018-07-31 13:27] safareli commented on #11
Maybe use some deterministic simulation for email used? like number of length or number of some chars in it

[2018-07-31 18:23] thomashoneyman commented on #11
@safareli Yes, I could go ahead and update the example so that the email is deterministic, and that would solve the flickering issue that @Unisay noticed. I'll do that for the time being in the examples. However the underlying problem -- that the check is going to be run, and potentially expensively, every time any field triggers a `Validate` query on the component -- can only be solved by a diffe

[2018-07-31 18:26] thomashoneyman commented on #11
I've updated the example to be deterministic for the time being.

[2018-08-01 07:49] safareli commented on #11
Nice!

At first the flicker gave me a feeling that the lib was buggy, and before I opened the example, I had already read your thread and was aware of the limitation.

[2018-08-01 08:04] Unisay commented on #11
Thanks,
I understood why that flickering happened,
and also I agree with the decision to simplify validation for the sake of a better demo experience.

[2018-08-07 23:24] thomashoneyman commented on #11
@Unisay @safareli I've introduced #14 which solves this issue by making per-field validation possible. Once merged, I'll close this issue.

[2018-08-08 20:14] thomashoneyman opened #15 "Improve error messages for RowToList type classes"
## Environment

* PureScript **0.12**
* Halogen **4.0.0**
* `purescript-halogen-formless` **0.1.0**

## Current behavior

When Formless isn't able to solve one of its various `RowToList` classes, an extraordinarily cryptic error results (noted by @Unisay)

[code]

Users of the library have essentially no information to work from as to how to solve this error. There are some methods which are usefu

[2018-08-08 20:15] thomashoneyman commented on #15
Unfortunately this error shows up in the constraints for the component itself, so there may only be that location with which to provide the error.

[2018-08-09 07:55] Unisay commented on #15
I have created a tiny project that isolates aforementioned compilation error:

[formless-test.zip](https://github.com/thomashoneyman/purescript-halogen-formless/files/2273287/formless-test.zip)

[2018-08-09 18:21] thomashoneyman opened #16 "No type class instance for RowToList t4 t5 error with explicit exports"
## Quick Summary

If you use explicit exports when defining a form, you must ensure that any types used within the `Form` newtype are also exported, or else you'll receive the dreaded `No type class instance for RowToList t4 t5` error message.

It's not the _only_ way to receive that error message, but if you receive the error, double-check explicit exports.

Given a form type like this:

[code]

[2018-08-09 18:26] thomashoneyman commented on #15
@Unisay I've written up a more detailed description of your error in another issue, #16. I'll leave both issues open until I've added better documentation for this error along with a custom error message for the component.

[2018-08-09 20:30] thomashoneyman commented on #16
With some further exploration, this issue is not to do with exporting the _constructors_ of the `Form` newtype. It's specifically to do with the newtype relying on types that are defined in the same module but _not_ exported to other modules.

For the time being, my solution will simply be to add a custom type error to the Formless component and link to new Formless documentation in this repositor

[2018-08-09 21:02] thomashoneyman commented on #15
I'd like to make this better using the new `Warn` / `Fail` type class work here, but am not sure how to properly identify this particular error and provide a useful error for each type class. Still working on it!

https://github.com/purescript/purescript/issues/3134

[2018-08-10 00:12] thomashoneyman commented on #15
Unfortunately, unless someone comes along and corrects me, it looks like even adding a `Fail` fallback to the type classes used by Formless will not help solve issues when the rows themselves can't be solved; the compiler never makes it past the `RowToList` constraint. So I'm closing this but will ensure it's discussed in documentation.

[2018-08-10 00:12] #15 closed, assigned to thomashoneyman

[2018-08-10 00:12] #16 closed, assigned to thomashoneyman

[2018-08-12 00:11] thomashoneyman commented on #11
Fixed in #14

[2018-08-12 00:11] #11 closed, assigned to thomashoneyman

[2018-08-14 18:09] thomashoneyman opened #18 "Replace RowToList / Row.Cons type classes with purescript-heterogeneous"
## Environment

* `purescript-halogen` **4.0.0**
* `purescript-halogen-formless` **0.2.0**

## Problem

There are a huge number of boilerplate `RowToList` classes used to produce various transformations on heterogeneous records. This involves lots of code duplication and non-obvious type class errors for end users, and it's easy to get the constraints wrong and only realize the error later (the cl

[2018-08-24 08:05] dariooddenino opened #19 "Add a `getInputs` function"
I'm listening to `Changed` messages from a form that's essentially a set of filters for a table. I want to update my `filter` section of the state, but right now there's no "easy" way to grab all the inputs values at once.

I came up with this solution using `heterogeneous`:

[code]

I just noticed that this is not consistent with `getInput` which takes the form as argument (here I'm extracting it

[2018-08-24 09:13] dariooddenino opened #20 "Skip validation"
It would be useful to be able to skip the validation and not having to write a record of `H.hoistFn_ identity`.

I guess the best approach whould be to change validators to a `Maybe`, but for now I'm using this approach with `heterogeneous`:

[code]

and then
[code]

[2018-08-24 18:37] thomashoneyman commented on #19
Thanks for opening this issue and describing what you're doing. It does seem useful to be able to recover a record of only inputs from a user `Form` type, as well as potentially the same for errors, results, outputs, touched, etc. I could easily see someone wanting to work with any of those records.

There is a module that already exports `getInput`, which expects a symbol proxy and a form to reco

[2018-08-24 18:38] thomashoneyman commented on #19
@dariooddenino If you would like to contribute those using `purescript-heterogeneous` via a pull request, please feel free to do so and link this issue; if you're busy at the moment, then I'll make the update by Monday.

[2018-08-24 18:43] thomashoneyman commented on #20
Another possibility is to make the entire field optional (`Maybe (form Record F.Validation form m)`), and in that way skip all sorts of error-checking and transformation computations within the library in favor of simply tracking and updating form state and returning the inputs as validated results in a submission message.

This function is a reasonable approach for any users of `v0.2.0`, but I'd

[2018-08-24 18:51] dariooddenino commented on #19
I'm not able to work on it before Monday/Tuesday I think. If it's still missing then I'll create a pull request :)

[2018-08-25 02:33] thomashoneyman opened #21 "Consider removal of `submitter` function and `out` type parameter"
## Environment

* `purescript-halogen` **0.4.0**
* `purescript-halogen-formless` **0.2.0**

## Current design

The Formless component has a lot of type parameters. Here's the query type:

[code]

The first three types are all used so that you can embed whatever components you'd like into a form. The `m` parameter specifies the monad Formless runs in, which can be whatever you want, and there's the

[2018-08-25 22:50] thomashoneyman commented on #18
It would be ideal if this allowed Formless to reduce the number of constraints present on the component and various helper functions in order to speed up compilation times.

[2018-08-31 11:56] rinn7e opened #24 "Small bug in basic example"
The basic example seems to miss binding the handling function for formless.

Current code:
https://github.com/thomashoneyman/purescript-halogen-formless/blob/v0.2.0/example/basic/Component.purs#L43-L49
[code]

Fix:
[code]

[2018-09-01 11:57] dariooddenino opened #25 "Raised actions from external components are not reaching the parent"
I'm not sure if I'm doing something wrong, but I can't manage to thread messages from external components to the parent. I get no errors, but just silent fails so I'm having a hard time figuring out what's wrong.
I'm using version 0.2.0

Edit to add that if I build the examples they work correctly. There has to be something that I'm failing to see here (but that should give me an error :( )

I've

[2018-09-03 09:55] thomashoneyman commented on #24
Thanks for pointing this out! I've fixed and pushed to master in 38bdb58.

[2018-09-03 09:55] #24 closed, assigned to thomashoneyman

[2018-09-03 10:30] thomashoneyman commented on #25
Hi @dariooddenino! I'm sorry for the late reply; I've been on vacation in Japan for the past two days and will be here for another week before I'm back on a normal working schedule. I have an inkling of what might be wrong, but I haven't recreated your example. If my comments below don't help, let me know and I'll dig a little deeper tomorrow on the train.

---

The short version: I believe you ne

[2018-09-03 14:36] dariooddenino commented on #25
Ugh, it's that for sure.
I spent 3 hours analyzing carefully all the examples, and I missed it all the time :(
I'm gonna kill myself.

Thanks!

[2018-09-03 14:36] #25 closed, assigned to thomashoneyman

[2018-09-05 00:44] thomashoneyman commented on #25
Don't worry, it's not an obvious thing! Renderless components are a fairly new idea in Halogen and nothing has been written about them, though I gave a talk at LambdaConf this year that explains the concept. With only two examples of embedded parent queries and no real documentation it's an easy thing to miss. Rule of thumb: any time you use a renderless component like Select or Formless, go ahead

[2018-09-05 08:40] dariooddenino commented on #25
Is there a vod of the talk by any chance? :)

[2018-09-05 23:45] thomashoneyman commented on #25
While it was recorded, the LambdaConf 2018 videos haven't been released yet. Sorry about that! They should be coming out at any moment now.

[2018-09-11 15:33] dariooddenino opened #28 "Send requests to external components"
If I'm not mistaken, right now it's not possible to send requests to external components.

I can send actions with:
`H.query slot $ H.action $ F.send slot' (H.action myAction)`

But I can't do the equivalent of:
`H.query slot $ H.request myRequest`

[2018-09-11 19:19] thomashoneyman commented on #28
@dariooddenino That's right, in the current version I haven't supported doing this. In the `halogen-v5` branch I _have_ supported it, as I was expecting for Halogen 5 to come out a bit sooner than it has.

Given that I probably ought to have support for this in v4 regardless and it's unclear when v5 will arrive, this should be fixed!

[2018-09-11 19:23] #20 closed, assigned to thomashoneyman

[2018-09-11 19:23] #21 closed, assigned to thomashoneyman

[2018-09-12 04:08] #28 closed, assigned to thomashoneyman

[2018-09-12 10:50] dariooddenino opened #30 "How to optionally combine validators"
Hi! Sorry for spamming your issues :D

I'll explain this use case, hoping that there's a better solution than the one I'm using.

I have an optional phone field and I already have a `validPhone` validator that runs a regex to check that the number is in the correct format.
Since the field is optional, I only want to run it when the field is not empty.

Out of stubborness I didn't want to write a `

[2018-09-12 16:39] thomashoneyman commented on #30
Here's one way you could solve the problem. First, let's say this is your underlying validation and sample form type:

[code]

Next, what we want to do is take our validation function that outputs a `ValidPhone` and modify it so that it outputs a `Maybe ValidPhone` to represent being optional. If the value is `Nothing` then the input string was empty; otherwise, the input was non-empty and the res

[2018-09-13 08:32] dariooddenino commented on #30
Thanks, this is much better. I was missing how to combine `Validation`s together

[2018-09-13 08:32] #30 closed, assigned to thomashoneyman

[2018-09-18 14:00] dariooddenino opened #31 "Add `ModifyAll` and `ModifyValidateAll`?"
At the moment there's a `ValidateAll`, but the same is not possible with `Modify` and `ModifyValidate`.

Use case:
I have a form that gets populated with some initial values when the user clicks on a product.
Right now I have to manually call `modifyValidate_` for each form field in the parent component's `HandleInput` action.

It would be useful to be able to do something like
[code]

Not sure if

[2018-09-18 19:12] thomashoneyman commented on #31
That's an interesting idea! Off the top of my head I can't think of a good reason not to allow modifying some subset of the form by providing all the necessary fields, or the same case for multiple validators all the way up to 'all validation'. That doesn't mean I'm 100% sure of an implementation, but it seems possible and useful.

I have a branch called `heterogeneous` which contains some serious

[2018-09-20 08:51] dariooddenino opened #32 "Force validation on non dirty fields?"
Hi, not sure if I missed something in the code (and sorry for the spam), but here's what I need to do:

I have an email field and a "send email" checkbox. The email field becomes mandatory when the the checkbox is checked.
The problem is that I want the "missing email" error to appear as soon as the user checks the "send email" field and I had to resort to this solution which feels a little hacky:

[2018-09-20 20:42] thomashoneyman commented on #32
The current design of the library only validates fields that are in a `touched` state. To run validation on the field, you need to ensure the field is touched. That's a bit unfortunate -- it might be nicer to allow validation to always run, and you can use the field's 'touched' value to decide if your validation should simply pass. On the other hand, that means you've got to write this code for al

[2018-09-21 08:39] dariooddenino commented on #32
Well, I have to disagree: this solution is way better as it helps keeping all form related things to the form component without leaking to the parent.
Sadly, right now I'm using some wrapper functions that build the form elements automatically from the symbol, so I have no easy way to plug that chained validation easily.
I will look into a solution, as it looks pretty good tbh :)

Regarding the lo

[2018-09-21 16:54] thomashoneyman commented on #32
Oh no! Did you find an alternate solution? Sorry that didn't work for you; I'd love to hear why.

[2018-09-21 17:45] dariooddenino commented on #32
Well, yes the problem was still that I had to validation on the untouched field, but in the end I decided it wasn't that important!
In the process I improved my code a bit, by moving all the logic out of the parent component.
Most of it went in the email validator:

[code]

And I ended up with this abstraction that will let me use chained validators in the future:
[code]

This lets me build workin

[2018-09-28 03:01] thomashoneyman commented on #31
@dariooddenino I promise I haven't forgotten about this! I ran into some issues with heterogeneous regarding functional dependencies and haven't had the time to revise that branch and merge. I hope to do so sometime in the next week and then move on to this and adding the `set*` functions. With those out of the way, I'd like to make a 0.3.0 release. Thank you for your patience!

[2018-10-19 23:13] thomashoneyman commented on #18
Unable to implement, in the end, due to issues with functional dependencies and using heterogeneous as component constraints. Reverted to the original RowList approach.

[2018-10-19 23:13] #18 closed, assigned to thomashoneyman

[2018-10-19 23:14] thomashoneyman commented on #19
Closed in #22 & #33!

[2018-10-19 23:14] #19 closed, assigned to thomashoneyman

[2018-10-20 03:26] thomashoneyman commented on #32
@dariooddenino This issue is closed in #34, using the first solution proposed above.

[2018-10-20 07:16] thomashoneyman commented on #31
Closed by #35! I'm not able to support partial updates because doing so would require carrying around more type variables in the component; instead, I only offer modifying a single field or modifying all fields.

[2018-10-20 18:44] #31 closed, assigned to thomashoneyman

[2018-10-22 16:18] thomashoneyman commented on #32
Closed by #33 and #34 merged to master

[2018-10-22 16:18] #32 closed, assigned to thomashoneyman

[2018-10-26 17:06] dariooddenino opened #37 "Gracefully handle components with async behaviour"
Quick recap from the Slack conversation:

Right now the only way to handle inputs with async validation is to write some "external" logic, as there are two problems:
- the validation is run every time the input field value changes
- new validations are started even when the previous one didn't complete; there's no guarantee that they will complete in the same order in which they were launched

Jus

[2018-10-26 18:24] thomashoneyman commented on #37
I'll have more to say later, but as a quick note:

This isn't necessary -- you could also just run `modify` on key press, and `validate` on blur (or `modifyValidate` on blur) to cut down on how often this validation is being run. That might mitigate some of the issues with expensive validations being triggered on each key press.

[2018-10-29 15:29] dariooddenino commented on #37
It's a little better, but that means that no validation is run until a blur event is fired :/

This also make my hacky solution a little more awkward:

[code]

[2018-11-26 10:33] digy opened #38 "Missing purescript-generics-rep"
## Environment

* `"purescript-halogen": "^4.0.0",`
* `"purescript-halogen-formless": "^0.4.0",`

## Current behavior
Installed purescript-halogen-formless with bower.
When building getting this error:
[code]
After manually installing `purescript-generics-rep` the build succeeds.

## Expected behavior

Maybe `purescript-generic-rep` dependency should be added of the `purescript-halogen-formless` ?

[2018-11-26 15:33] thomashoneyman commented on #38
You're right! I tested dependencies by doing `pulp init` in an empty directory and then bower installing only Formless, and that builds just fine -- but that's because Pulp includes some other dependencies by default, like `effect`, `console`, `prelude`, and so on. When I cloned this in a project with _only_ Formless as the dependency I see the same error.

Looks like adding the generics-rep depen

[2018-11-26 15:51] #38 closed, assigned to thomashoneyman

[2018-11-26 15:57] thomashoneyman commented on #38
You can use https://github.com/thomashoneyman/purescript-halogen-formless/releases/tag/v0.4.1 to avoid this issue. Thanks @digy for bringing this to my attention!

[2018-11-30 06:03] #37 closed, assigned to thomashoneyman

[2018-12-04 13:44] digy opened #42 "Adding a formless component with other child components causes a type error."
## Environment

* `purescript-halogen` **v0.4.0**
* `purescript-halogen-formless` **v4.0.0**

## Current behavior

Adding a formless component to a Halogen Parent component causes a type error.

Minimal reproduction scenario:

[code]
with an error:

[code]

If I drop the formless component from the Query algebra and remove it from the render method everything is fine.

[2018-12-04 18:23] thomashoneyman commented on #42
Hi @digy!

The issue here is that in some cases you're telling Formless to run in some monad `m` which supports the `MonadAff` constraint, and in other cases you're telling Formless to run specifically in `Aff`. It's perfectly fine to run Formless in either of these, but not both.

I've got a longer explanation below, but to fix your code, you'll need to change your `validators` so they don't fix

[2018-12-05 19:39] thomashoneyman commented on #42
Hi @digy! Did this solve your issue?

[2018-12-06 17:47] digy commented on #42
Hi @thomashoneyman , yes I solved my issue.

Thank you so much for providing the extra explanation.
And thank you for the hint with header and footer, I did not know one can do that.

You can close the issue.

[2018-12-06 18:55] thomashoneyman commented on #42
Great!

By the way, you can now see an example of this in Real World Halogen:

1. The [router component](https://github.com/thomashoneyman/purescript-halogen-realworld/blob/master/src/Component/Router.purs) mounting a settings form and using the various capabilities available for the application monad
2. The [settings page component](https://github.com/thomashoneyman/purescript-halogen-realworld/b

[2018-12-06 18:55] #42 closed, assigned to thomashoneyman

[2019-04-02 02:12] thomashoneyman opened #45 "Update for Halogen 5"
Formless is not compatible with the [release candidate for Halogen 5](https://github.com/slamdata/purescript-halogen/releases/tag/v5.0.0-rc.3) and will prevent users and libraries that depend on Formless from upgrading when Halogen is released.

[2019-05-26 01:27] naglalakk opened #48 "asyncSetValidate giving partial output"
## Environment

* `purescript-halogen` **v5.0.0-rc.4**
* `purescript-halogen-formless` **halogen-5 (branch)**

## Current behavior

When I use asyncSetValidate with a debounce time the output from validation seems to chop off a bit of the end depending on how fast I type. Entering something like john@john.com quite fast gives -> john@jo etc.

This could of course simply be an issue with my code bu

[2019-05-26 03:50] thomashoneyman commented on #48
Hi @naglalakk! I'm sorry you're having this issue, and thank you for bringing it to my attention.

Formless is designed to cancel running validation code when new input is received and not re-run validation until the debouncer has been triggered again. The relevant code is here:

https://github.com/thomashoneyman/purescript-halogen-formless/blob/master/src/Formless/Internal/Debounce.purs

I suspec

[2019-05-26 09:19] naglalakk commented on #48
Hi @thomashoneyman thank you so much for your reply and no worries. I just wanted to post this here to bring it to your attention if it was a bug. I'm quite new to halogen/purescript in general so I thought maybe I'm just doing something wrong. I can totally work around this and for now I'm working on/testing applications with such small load that debounceTime is not vital. Thanks for addressing t

[2019-05-27 17:47] thomashoneyman commented on #48
@naglalakk To help narrow this down, do you mind answering these questions?

* How often does this behavior appear? Every time you trigger the debouncer, validation begins, and you begin typing again? Or just every once in a while?
* What happens if you use the `Validating` status to render some text that says 'validating'? Does the text get stuck in that 'validating' state even while you're typin

[2019-05-28 12:56] naglalakk commented on #48
@thomashoneyman I would be more than happy to help! Things are quite busy atm but i'm going to sit down with this as soon as possible and report back.

[2019-05-29 01:40] JordanMartinez opened #49 "Add a component template file/directory?"
Similar to what I did with [`ComponentTemplate.purs`](https://github.com/JordanMartinez/learn-halogen/blob/latestRelease/src/05-ComponentTemplate-A.purs), would you be up for me adding something like that here? Or should I perhaps store that in my learning repo?

Due to how much stuff goes on in creating a form, I think this should be a directory with these files:
- data and validation: defines a

[2019-06-04 20:33] naglalakk commented on #48
Hi sorry for a late reply I've had some busy days. Here are my results

**How often does this behavior appear? Every time you trigger the debouncer, validation begins, and you begin typing again? Or just every once in a while?**

When validating with asyncSetValidate this seems to happen when I enter multiple characters in a row. Once the debouncer is finished it does not trigger validation for th

[2019-06-30 20:05] ajnsit opened #52 "Extract the bits independent of a UI framework?"
While [porting the library to the Concur UI Framework](https://github.com/ajnsit/purescript-concur-formless), I realised that most of the important bits are completely independent of Halogen. So I went ahead and extracted formless completely and created [Formless-independent](https://github.com/ajnsit/purescript-formless-independent).

I think it might be valuable to have an official package calle

[2019-07-07 17:43] thomashoneyman commented on #52
@ajnsit This is an interesting idea. I've taken a look at your formless-independent repo and I see how many of the parts of Formless can be independent of the UI library. I'm curious how far that idea can go -- could we put together a version which can be used in `react`, `react-basic`, `concur`, and `halogen` without requiring a ton of effort implementing each ui-specific version?

Formless might

[2019-07-08 02:07] ajnsit commented on #52
Yeah that sounds good! I would be happy to help build those examples, and once the core is abstracted, I volunteer to build/maintain the `concur` and `react` (and maybe more) specific versions.

[2019-07-10 07:24] ajnsit commented on #52
To demonstrate formless-independent bindings to multiple UI libraries, I went ahead and created examples for [Concur](https://github.com/ajnsit/purescript-formless-independent/tree/master/example/concur) and [React](https://github.com/ajnsit/purescript-formless-independent/tree/master/example/react).

There are two issues so far -

1. The generic dropdown menu UI component I created ([Concur versi

[2019-07-10 17:15] thomashoneyman commented on #52
Hi @ajnsit! Thanks for doing this. I've also invited you to a repo tracking a small experiment in expressing common Halogen, React, and React Basic patterns in terms of each other to make sure the consequences of a framework-independent component are well understood. For example, how do you make sure you can handle:

* Parent-child communication (messages and queries in Halogen, callbacks and refs

[2019-07-10 20:33] ajnsit commented on #52
@thomashoneyman I see an invitation from you, but it gives me a 404 when I try to go to the repo. Is this the right repo name? `https://github.com/thomashoneyman/purescript-agnostic-counter`

[2019-07-10 20:39] thomashoneyman commented on #52
It's `https://github.com/thomashoneyman/purescript-agnostic`. Let me try again.

[2019-07-10 20:43] ajnsit commented on #52
I can see that repo now, thanks!

[2019-08-10 01:24] thomashoneyman commented on #49
I'm sorry I took so long to get back to this. I think this is a good idea and a welcome addition to the library. I didn't want to jump the gun on adding the template until I felt things were more stable with all the Halogen 5 upgrades, but at this point it doesn't feel like much more will change.

I'd understand if you no longer had this top of mind and weren't able to contribute it, but if you do

[2019-08-10 02:58] thomashoneyman commented on #52
@ajnsit I've had some time away from the agnostic backend experiment, and at this point I think it's simply too complex to maintain over time especially as UI libraries continue to diverge (I'm here thinking of React Hooks) and it becomes harder to translate patterns from one library into those used by another. As we were able to demonstrate there, it's _possible_ to create framework-agnostic comp

[2019-08-10 02:58] #52 closed, assigned to thomashoneyman

[2019-08-10 14:22] JordanMartinez commented on #49
Makes sense.

I'd still like to contribute it. There were a few things I didn't understand when I wrote it, so this would be helpful for me in that way, too.

[2019-08-19 14:59] linearray commented on #45
Looks great! Is there anything missing for halogen 5 support?

[2019-08-19 15:29] thomashoneyman commented on #45
Nothing is missing — #46 closes this issue; I haven’t merged it because Halogen hasn’t had an official release yet, but since plenty of people are on the release candidate perhaps I should, and just tag it when Halogen 5 does have its official release.

In the meantime you can point at that branch and use this with Halogen 5 just fine. Halogen RealWorld does so.

[2019-08-19 21:35] thomashoneyman commented on #49
Closed in #53

[2019-08-19 21:35] #49 closed, assigned to thomashoneyman

[2019-08-19 21:39] #45 closed, assigned to thomashoneyman

[2019-10-21 00:31] liam-cb opened #57 "README example has invalid syntax"
## Environment

* `purescript-halogen` v5.0.0-rc.7
* `purescript-halogen-formless` v1.0.0-rc.1

## Current behavior

The example in the README uses a pun on a record update

[code]

this isn't valid to avoid syntactic ambiguities with the update syntax

## Expected behavior
Probably just this:

[code]

[2019-10-21 02:38] thomashoneyman commented on #57
Thanks, @liam-cb -- you're right, the second example is the correct one.

[2019-10-30 03:12] thomashoneyman commented on #57
Fixed in https://github.com/thomashoneyman/purescript-halogen-formless/commit/4542d08de1edb744e0c8a540766ec0a44af8ee60

[2019-10-30 03:12] #57 closed, assigned to thomashoneyman

[2019-11-22 12:08] mjepronk opened #59 "DogForm from README does not work with v1.0.0"
Thanks for creating this library. I've found a problem when trying out the example from the README. It seems to have an incomplete type for `spec` (it's missing a parameter), and I'm unsure what I need to put there.

## Environment

* `purs` **v0.13.5**
* `purescript-halogen` **v5.0.0-rc.7**
* `purescript-halogen-formless` **v1.0.0-rc.1**

## Current behavior

[code]
Results in the following error

[2019-11-27 17:46] thomashoneyman commented on #59
Fixed in #60. Thanks!

[2019-11-27 17:46] #59 closed, assigned to thomashoneyman

[2019-12-18 03:29] JordanMartinez opened #61 "Cannot create forms with file uploads: `File` does not have an `Eq` or `Initial` type class instance"
## Environment

* `purescript-halogen` **v5.0.0-rc.7**
* `purescript-halogen-formless` **v1.0.0-rc.1**

## Current Behavior

I'm trying to use this library to upload a file in a form. Since `<input type="file">` doesn't have a `onValueInput` or something like that, I'm using a separate action to get the resulting file via `onFileUpload`:
[code]
I can get the file fine...
[code]
... but `F.handleAc

[2019-12-18 07:08] thomashoneyman commented on #61
Thanks for opening this issue -- I haven't yet done anything with file uploads in Formless myself. It's late here, so I want to start by explaining why you're seeing what you're seeing and I'll have to think about solutions tomorrow.

### Inputs requiring `Eq`

The first problem you have is that you're using an input type `File` and you get a compiler error because it doesn't have an `Eq` instance

[2019-12-18 21:06] JordanMartinez opened #62 "Provide better ergonomics for nested forms / array of fields"
## Environment

* `purescript-halogen` **v5.0.0-rc.7**
* `purescript-halogen-formless` **v1.0.0-rc.1**

## Current behavior

Formless does not provide a type that can be used in the row of fields to indicate that the row is a collection of fields. To workaround this limitation, one can use a nested form based on the [example in this repo](https://github.com/thomashoneyman/purescript-halogen-formle

[2020-01-23 19:51] skress commented on #48
I think there are currently two problems. You can check it on the example site https://thomashoneyman.github.io/purescript-halogen-formless/#async.

**Problem 1:** Copy a valid email address into your clipboard. Start with a blank form in the "async" example. Enter a character into the email address field (e.g. 'v') and quickly paste the valid email address into the field. Although there is a vali

[2020-01-24 13:09] skress commented on #48
I have updated the PR to fix the second problem mentioned above.

There is still the third problem: when the debouncer is used for one field and then for another field the running validation for the first field might get killed in `atomic` in `Internal.Debounce`:

[code]
Not sure what the best approach for a fix would be. Obviously there could be a debouncer per form field or only the forked valid

[2020-01-24 18:41] thomashoneyman commented on #48
@skress My gut sense is that you're right and we'll ultimately need to enable the async validation per field. It's been a little while since I've visited how the validation is applied, but validation is done on a per-field basis so I expect debouncing should be possible on a per-field basis as well.

[2020-01-27 02:52] thomashoneyman commented on #48
This is closed by #63, and I'm opening a new issue for per-field debouncers. Thanks @skress!

[2020-01-27 02:52] #48 closed, assigned to thomashoneyman

[2020-01-27 02:56] thomashoneyman opened #64 "Multiple async form fields share one debouncer, causing interference"
## Environment

* `purescript-halogen` **v5**
* `purescript-halogen-formless` **v0.5.2**

As described by @skress in #48:

[code]

[2020-04-06 13:21] JordanMartinez opened #66 "Migrate to Halogen Hooks version"
... and potentially fix #61, #62, and #64 along the way.

I think the hook version of this library could be broken up into two parts: various hooks for fields and a hook for the form itself

A field hook would have the following things:
- a validator
- an optional debouncer (not all require this)
- an optional default value (i.e. fix #61)
- two variants: one for single-elements and another for mul

[2020-04-08 03:45] JordanMartinez commented on #66
So, here's a problem.

A given field has the following pieces of state:
- input
- touched
- output (i.e. the value when successfully validated)
- dirty

If I want to render a dynamically-sized array of fields, I would idealy write something like this:
[code]
However, `for`/`traverse` and indexed monads don't play well together.

So, the only workaround I can think of is to create a variant of `use

[2020-08-24 21:44] ahnwarez commented on #61
@JordanMartinez
I have the same exact issue and couldn't figure out how to solve until @thomashoneyman replied to my question on discource and shared a link to this issue here.

I've used your workaround in my code but not sure what to do with `evalA`? I would really appreciate if you share the implementation of `evalA`.

[code]

[2020-08-25 13:32] JordanMartinez commented on #61
If you needed to run the code for a query (i.e. Query A) when you were evaluating Query B, you would use `eval (QueryB arg1 ...)`. However, Formless has to handle things specifically, so you can't use the normal `eval`. `evalA` is the same concept, but you wrap Formless' eval function. I think it's `evalA arg1 arg2 arg3 = Formless.handleAction arg1 arg2 arg3`. I can't recall what it is, but you're

[2020-08-25 13:34] JordanMartinez commented on #61
Here it is: https://github.com/thomashoneyman/purescript-halogen-formless/blob/d7151f89d870b0e5647ac3ce76ec13d184e047b5/src/Formless/Component.purs#L188

[code]

[2020-12-05 20:14] srghma commented on #64
probably experiencing this issue in feature tests

1.

- when test suite is inputting username (first) and email (second) field very fast
- AND when username `F.asyncSetValidate` is big - e.g. `(Milliseconds 300.0)`
- I'm getting old state for the `username` field (it's `u` instead of `username1`)

https://github.com/srghma/purescript-halogen-nextjs/blob/5becaac1878c20a432bff2eab6ede78cd4094c9f/pa

[2020-12-09 01:56] thomashoneyman commented on #64
Thanks for the report, @srghma. I don't have time to dig into this at the moment, but I will certainly accept a PR which helps address the issue. The next version of this library is based on [halogen-hooks](https://github.com/thomashoneyman/purescript-halogen-hooks) and allows you to include whatever effects you want on a per-input basis (including debouncers) and won't suffer from this issue.

[2020-12-11 11:25] srghma commented on #64
Thnx, why hooks, is ordinary halogen not good enough?)

[2021-04-26 21:13] goertzenator opened #74 "Documentation on Pursuit?"
Can the docs for this package be published on https://pursuit.purescript.org ?

[2021-04-29 15:14] thomashoneyman commented on #74
Hi @goertzenator! Sorry about that; these were originally not uploaded due to an issue where Halogen could not be uploaded, but that's been resolved for a long time and I simply forgot. Here you go:

https://pursuit.purescript.org/packages/purescript-halogen-formless

[2021-04-29 15:14] #74 closed, assigned to nobody

[2021-06-09 15:32] dariooddenino opened #75 "mkSProxies generates a LOT of boilerplate code"
## Environment

* `purescript-halogen` **6.1.0**
* `purescript-halogen-formless` **2.0.1**

Hi!
While doing some profiling for one of my purescript webapps, I found out that one single formless component was generating a 180kb js file on its own. A ~300LOC ps component was generating almost 3k LOC of javascript code.

I found out that the main culprit was `mkSProxies`. Every time one of the proxie

[2021-06-09 16:07] JordanMartinez commented on #75
I'm pretty sure this large amount of code is expected. It's the major
drawback of using that function. I believe it's provided for convenience,
not for performance, because doing it by hand is tedious.

[2021-06-10 07:47] dariooddenino commented on #75
I thought that maybe this one flew under the radar. It's not a big deal, maybe just worth explaining this in the docs since the impact of using it is so big

[2021-10-06 19:15] thomashoneyman commented on #75
Sorry for such a late response -- I'm probably going to remove this function altogether because it really is terrible. At the time I wrote it (while learning PureScript) I didn't understand the ridiculous code bloat that came along with it, and just enjoyed the reduced boilerplate, but it's really not worth it and I wouldn't advise anyone use it outside of a toy situation.

[2021-10-06 19:21] thomashoneyman commented on #75
@dariooddenino What do you think of #77?

[2021-10-07 07:38] dariooddenino commented on #75
@thomashoneyman I think that it's a good solution!

[2021-10-07 08:56] #75 closed, assigned to nobody

[2021-11-05 11:04] pmiddend opened #78 "sendQuery documentation outdated and I need an example"
The documentation for `sendQuery` is confusing:

    First, you can use H.query as usual within the handleExtraQuery function you provide to Formless as input.

Is this up-to-date? I find no function `handleExtraQuery` in formless. I'm also not sure about `H.query`.

Also, it would be awesome to have an example of how to use the feature. What I'm trying to do is send the formless component a query

[2021-11-05 11:19] thomashoneyman commented on #78
That documentation does look out of date. To clarify, `sendQuery` is meant for when you have a formless component that has a child component that you want to query; you're sending the query _through_ the formless component.

There is an example of `sendQuery` used in the "real world" example. In the below code, we're sending a query through the "options form" to a dropdown component located in tha

[2021-11-08 15:34] pmiddend opened #79 "Add a helper function to submit a form and call preventDefault on the event"
I'm pretty happy with formless so far! One thing is really strange and is bugging me though: I'm submitting my form using `F.submit`, which validates and then submits. However, my cypress tests fail, because cypress actually sees the form submit and the new URL that's being broadcast and navigates to that new URL, see here:

![image](https://user-images.githubusercontent.com/178496/140770595-0f09d

[2021-11-08 17:09] thomashoneyman commented on #79
I was actually speaking with @chiroptical and @gillchristian about this recently! You do need to capture the event and call `preventDefault` on it when your form is submitted.

Here's a tiny example of how that's done (though this example doesn't use Formless). First, the submission event is captured:

https://github.com/thomashoneyman/purescript-halogen-store/blob/0831cc671c61a93afec9782a731150e5

[2021-11-08 18:14] chiroptical commented on #79
@gillchristian and I are planning on working on this soon :)

[2021-11-09 09:55] pmiddend commented on #79
@thomashoneyman Thanks for the intricate answer! I tried adapting my code this way, by defining a new action type:

[code]

then adding the `onSubmit` (albeit with `injAction`):

[code]

and writing my handleAction handler:

[code]

However, now my action is executed twice. I think I might have something wrong with the recursive `myHandleAction` call, or possibly with the `F.raiseResult` (which is

[2021-11-09 10:31] thomashoneyman commented on #79
I've renamed this to track adding a helper function, and we can keep it open for that purpose. @gillchristian and @chiroptical please feel free to link this issue when you get to that implementation!

[2021-11-09 10:32] thomashoneyman commented on #78
@pmiddend Did this help you move forward, or are some things unclear?

[2021-11-09 11:58] pmiddend commented on #78
Ah, sorry to let you hanging like this. This actually made it much clearer! However, while browsing through the real-world-halogen code, I discovered that my special use case can apparently be handled more easily using this code:

[code]

Which is in my parent component `handleAction` method. I'm not really sure what it _does_, but it seems to work.

[2021-11-09 12:08] thomashoneyman commented on #78
With that in mind I'm going to go ahead and close this. Glad things are working for you!

[2021-11-09 12:08] #78 closed, assigned to nobody

[2021-11-18 15:28] #79 closed, assigned to nobody

[2021-11-18 15:45] chiroptical opened #81 "Update example components to use `submitPreventDefault`"
In #80, @gillchristian and I added the ability to use a more idiomatic form and prevent the default event when using `onSubmit`. It would be awesome to update the examples/readme to match the more idiomatic style in the readme example.

[2021-12-27 04:16] thomashoneyman commented on #64
Formless 3 doesn't include debouncing anymore because validators can now be run in your component's `HalogenM` and you can implement debouncing yourself however you'd like. For this reason, this issue no longer affects the library. Thanks!

[2021-12-27 04:16] #64 closed, assigned to thomashoneyman

[2021-12-27 04:17] thomashoneyman commented on #61
Formless no longer requires the `Eq` or `Initial` instances on fields, so this is no longer an issue. You can see the [file upload example](https://github.com/thomashoneyman/purescript-halogen-formless/blob/main/example/Example/FileUpload.purs) as a demonstration of how to create forms with file uploads in Formless 3.

[2021-12-27 04:17] #61 closed, assigned to thomashoneyman

[2021-12-27 04:19] thomashoneyman commented on #81
Formless 3 now provides you with a `handleSubmit` function that can be used to handle submission events on your form (including calling `preventDefault` for you), and a separate `submit` function that can be used to imperatively submit the form without access to an event.

See the basic example:
https://github.com/thomashoneyman/purescript-halogen-formless/blob/60546a731637aca21b943288b73ecf6382c6

[2021-12-27 04:19] #81 closed, assigned to nobody

[2022-01-10 06:14] farzadbekran opened #83 "Problem getting the code from current README.md to compile"
Hi!
I put the code from the readme into a file and tried to compile it, but I'm getting a type error with type signatures for the `handleAction` and `handleQuery` functions. I've put the code [here](https://gist.github.com/farzadbekran/e51f37a49cee00ce3d65545c9a5a9ae2) if you want to test it.

They work if I change the signatures to `H.HalogenM _ _ _ _ _ Unit` and `H.HalogenM _ _ _ _ _ (Maybe a)`,

[2022-01-10 07:48] thomashoneyman commented on #83
I’m responding from mobile so please forgive the formatting :)

The problem that I see right away is that the FormOutput type in Formless is supposed to take a row type, but in the README I mistakenly provide a record (Output). It should be:

    F.FormOutput (Form F.FieldOutput)

instead of

    F.FormOutput { | Form F.FieldOutput }

(which is the type that Output is a synonym for).

[2022-01-10 08:11] farzadbekran commented on #83
Thanks for the response. Changing it to `F.FormOutput (Form F.FieldOutput)` gives me this error:
[code]
Note: `F.FormOutput` is defined like this:
[code]

[2022-01-10 16:54] thomashoneyman commented on #83
🤦‍♀️ Right, it should be `(F.FormOutput (Form F.FieldState) Output)` then. Though I usually just throw a `_` in there for convenience. In general, these type variables in Formless map to each other:

[code]

[2022-01-10 18:58] farzadbekran commented on #83
Got it, thanks again!

[2022-01-10 18:58] #83 closed, assigned to nobody

[2022-03-03 12:17] dnikolovv opened #86 "Project doesn't build"
It depends on the `map-variant` branch from https://github.com/MonoidMusician/purescript-variant which has changed a few hours ago with `1aba110a6f3fad07355f1730b4755716a3855352`.

Perhaps it should use a specific commit as version?

[2022-03-03 17:32] thomashoneyman commented on #86
Sorry about that! It’s somewhat good news, though, as once that PR merges I can actually release Formless 3 properly. In the meantime we can fix this library and point to a specific commit.

[2022-03-03 18:22] dnikolovv commented on #86
I've submitted a PR pinning it to the latest commit before the breaking changes.

[2022-03-03 19:34] #86 closed, assigned to nobody

[2022-03-03 21:57] thomashoneyman commented on #62
If you need a field which is itself an array of fields, then the field (as far as Formless is concerned) will be coordinating among several fields (as far as the browser / UI events are concerned). Your best bet is to render the browser fields so each one tracks its index in the array and updates its value there appropriately.

[2022-03-03 21:57] #62 closed, assigned to thomashoneyman

[2022-03-03 21:59] thomashoneyman commented on #66
While I am open to a Hooks version of Formless, I'm not currently planning to work on this. I did implement a working Hooks version of Formless, but I never felt satisfied with its ergonomics. You can see that work here:

https://github.com/thomashoneyman/purescript-halogen-formless/tree/hooks

In addition, others have updated that code for 0.14:

https://github.com/thomashoneyman/purescript-halog

[2022-05-12 13:49] krzysztofpniak opened #88 "not loading articles in global feed."
there is an successful request in network tab, but page says "Articles not yet loaded"

[2022-06-07 15:42] goertzenator commented on #74
A nudge to push updated docs to pursuit. ;)

[2022-06-23 17:27] thomashoneyman commented on #88
Is this supposed to be for `halogen-realworld`? This is just a form library, which doesn't sound relevant to your question.

[2022-06-23 17:27] #88 closed, assigned to nobody

[2022-06-23 17:27] thomashoneyman commented on #74
Sorry about that! Done :)

[2022-07-09 08:01] farzadbekran opened #89 "Confusing type error when trying to define a query type for the inner component"
So I'm trying to define a query (ResetForm a) for my inner component (which is supposed to reset some state and re-enable some buttons) like this:

[code]
this will compile with the usual `F.handleSubmitValidateM handleSuccess F.validateM validation` inside `handleQuery` but when I use the code above I get this error:
[code]
I assume I'm missing something? I don't understand the connection to my `

[2022-07-09 10:59] farzadbekran commented on #89
This works for some reason:

[code]
I only copied the code for `handleSubmitValidateM` and added my `Query` in there. Seems like a problem with inferring types?

[2022-07-09 14:07] thomashoneyman commented on #89
Yes, this is a problem with inferring types — Formless uses a few type classes behind the scenes to help cut out the boilerplate of writing your initial form state, for example. You can see them in the constraints on the `formless` component:

https://github.com/thomashoneyman/purescript-halogen-formless/blob/2d195d2e632c40bb8e316197e53a389cbc24bf5f/src/Formless.purs#L328-L339

This type error spe

[2022-07-11 06:22] farzadbekran commented on #89
To address your points:

- I am using my form fields in the render code, so this is not the problem
- If I do provide the an initial form state (`{ validationCode: "123456" }`), it does compile but the value wont be shown inside the input. Do I need to do something about it to be used as the initial input value? I would expect it to be put inside `fields.validationCode.value` state field by formle

[2022-07-15 06:28] #89 closed, assigned to nobody

[2022-09-07 10:55] dariooddenino opened #90 "Check if the form is dirty"
Hi!
I've recently updated formless to v4, but I've noticed that there isn't a `dirty` property anymore.

Is there a recommended way to implement this?

[2022-09-07 11:00] dariooddenino commented on #90
Sorry for the noise, I'm going to write on discourse because there are a lot of questions I have

[2022-09-07 11:00] #90 closed, assigned to nobody